.container {
  border: 5px solid black;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.sidebar {
  border: 5px solid red;
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: #134e4a;
}

.header {
  border: 5px solid blue;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr;
  padding: 20px 40px;
}

.body {
  border: 5px solid green;
  grid-column: 2/3;
  grid-row: 2/3;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
img {
  height: 30px;
  border: 4px solid green;
}
.nav_option_b,
.nav_option_s {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  border: 4px solid black;
  gap: 20px;
}
.nav_option_b img {
  height: 55px;
}
.nav_option_b div {
  font-size: xx-large;
  border: 4px solid pink;
  color: white;
}

.nav_option_s div {
  border: 4px solid pink;
}

.nav_section1,
.nav_section2,
.nav_section3 {
  border: 4px solid teal;
  display: grid;
  justify-items: start;
  padding-left: 10px;
  gap: 15px;
  padding-top: 10px;
}

.sidebar_container {
  display: grid;
  gap: 50px;
}
.nav_text {
  font-weight: 800;
}

.nav_option_s div {
  font-size: larger;
  color: white;
}

.header_section1,
.header_section2,
.header_section3,
.header_section4 {
  border: 4px solid brown;
}

.header_section1 {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 20px;
  align-items: center;
  padding-left: 20px;
  background-color: grey;
}

.searchbar {
  border: none;
  border-radius: 20px;
  height: 55%;
  width: 45rem;
  background-color: #e2e8f0;
  padding-left: 20px;
}
.searchbar:focus {
  outline: none;
}

.header_section2 {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: grey;
}
.header_section2 .bigimg {
  height: 50px;
}
.header_section2 div {
  font-size: x-large;
  font-weight: bolder;
}
.header_button {
  border-radius: 25px;
  height: 40px;
  width: 8rem;
  border: none;
  background-color: #134e4a;
  color: whitesmoke;
  font-weight: 600;
  font-size: large;
}
.header_section4 {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-evenly;
}

.header_section3 {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  gap: 30px;
  padding-left: 20px;
}

.bigbigimg {
  height: 70px;
}

.hi,
.mo {
  font-weight: 600;
}
.mo {
  font-size: x-large;
}
.header3text {
  display: grid;
  gap: 5px;
}

.body_left,
.body_right {
  border: 4px solid purple;
}

.body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  padding: 5px;
}

.body_left_top,
.body_left_bottom {
  border: 4px solid red;
}
.body_left {
  display: grid;
  grid-template-rows: 5rem auto;
}

.card {
  border: 2px solid orange;
  display: grid;
  border-left: 9px solid orange;
  grid-template-rows: 3fr 1fr;
  border-radius: 10px;
}
.body_left_bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px;
  padding: 20px 30px 20px 30px;
}

.card_text,
.card_icons {
  border: 2px solid brown;
  border-radius: 10px;
}

.card_icons {
  display: flex;
  padding-right: 10px;
  align-self: center;
  justify-self: end;
  gap: 15px;
}

.card_text {
  display: grid;
  align-items: start;
  padding: 20px;
}
.card_text_heading {
  font-weight: bold;
  font-size: x-large;
}
.card_text_body {
  font-size: medium;
}
.body_heading,
.body_right_heading {
  border: 2px solid black;
  display: flex;
  align-items: end;
  font-size: xx-large;
  font-weight: 500;
}
.body_left_top {
  display: flex;
  padding-left: 30px;
}

.body_right {
  display: grid;
  grid-template-rows: 5rem 1fr 5rem 1fr;
  gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.right_top_card,
.right_bottom_card {
  border: 4px solid green;
}

.right_bottom_card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.trending_user {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;

  border: 2px solid yellowgreen;
}
.trending_user > img {
}

.trending_user div {
  border: 2px solid black;
}
/* adw
WdW
d
:window-inactivewd
Wd
:window-inactiveDW
dW
dW
feDropShadowwswS
:window-inactivesWS
wS
wSw
sw
sW
sW
sWS
wSw
sW
sW
switchS */

.right_card_text {
  border: 4px solid blue;
  display: flex;
  flex-direction: column;
  padding: 0px;
  justify-content: center;
  gap: 8px;
}
.right_top_card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
.inner {
  width: 80%;
  height: 1px;
  margin: 0px auto;
  border-bottom: 3px solid #969696;
}

.right_card_text_heading {
  font-weight: bold;
  font-size: large;
}
.right_card_text_body {
  font-weight: lighter;
  font-size: medium;
}
